.faq {
    padding-top: 48px;
    padding-bottom: 48px;
}

.faq__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #080c09;
    margin-bottom: 32px;
}

.faq__list {
    border-bottom: 1px solid rgba(8, 12, 9, 0.15);
}

.faq__item {
    transition: background-color 300ms ease;
    border-top: 1px solid rgba(8, 12, 9, 0.15);
}

.faq__item:hover, .faq__item:has(.faq__btn:focus-visible) {
    background: rgba(8, 12, 9, 0.03);
}

.faq-wrapper {
    margin: 0;
}

.faq__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    width: 100%;
    padding: 20px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    color: #080c09;
}

.faq__btn.ac-trigger {
    display: flex !important;
}

.faq__btn-text {
    text-align: left;
}

.faq__icon {
    display: block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    fill: #080c09;
    transition: transform 0.5s ease;
}

.faq__answer {
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080c09;
    transition: height 500ms ease;
}

.faq__answer .answer-text {
    padding: 0 0 24px;
}

.ac.is-active .faq__icon {
    transform: rotate(180deg);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .faq__btn {
        padding: 21.5px 0;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .faq {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .faq__list {
        max-width: 865px;
        margin: 0 auto;
    }

    .faq__title {
        font-size: 48px;
    }
}
