<section id="about" class="section section-about js-about">
  <!-- <div class="container about-container">
        <div class="context-about">
            <h2 class="title-about">
                Про Меблерію
            </h2>
            <p class="text-about">
                У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша місія - пропонувати високоякісні
                меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний інтер'єр починається з
                правильних меблів.
            </p>
        </div>
        
        <picture class="pict-about">

            <source srcset="../img/about/img-about-desc1.jpg 1x, ../img/about/img-about-desc2.jpg 2x"
                media="(min-width: 1440px)" />
        
            <source srcset="../img/about/img-about-tablet1.jpg 1x, ../img/about/img-about-tablet2.jpg 2x"
                media="(min-width: 768px)" />

            <source srcset="../img/about/img-about-mobile1.jpg 1x, ../img/about/img-about-mobile2.jpg 2x"
                media="(max-width: 767px)" />
        
            <img class="img-about" src="../img/about/img-about-mobile1.jpg" alt="Про Меблерію" loading="lazy" />
        </picture>
    </div> -->
</section>
