<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq__title">Часті питання</h2>
    <ul class="faq__list accordion-container">
      <li class="faq__item ac">
        <h3 class="faq-wrapper ac-header">
          <button type="button" class="faq__btn ac-trigger">
            <span class="faq__btn-text">Як здійснюється доставка меблів?</span>
            <svg class="faq__icon">
              <use href="./img/icons/sprite.svg#faq__icon"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__answer ac-panel">
          <p class="answer-text">
            Ми доставляємо замовлення по всій Україні через надійні служби. Термін доставки зазвичай
            складає 3–7 днів залежно від регіону.
          </p>
        </div>
      </li>
      <li class="faq__item ac">
        <h3 class="faq-wraper ac-header">
          <button type="button" class="faq__btn ac-trigger">
            <span class="faq__btn-text">Чи є можливість вибрати колір або матеріал?</span
            ><svg class="faq__icon">
              <use href="./img/icons/sprite.svg#faq__icon"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__answer ac-panel">
          <p class="answer-text">
            Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі доступні опції
            вказані на сторінці товару.
          </p>
        </div>
      </li>
      <li class="faq__item ac">
        <h3 class="faq-wraper ac-header">
          <button type="button" class="faq__btn ac-trigger">
            <span class="faq__btn-text">Чи можна повернути товар, якщо він не підійшов?</span
            ><svg class="faq__icon">
              <use href="./img/icons/sprite.svg#faq__icon"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__answer ac-panel">
          <p class="answer-text">
            Так, ви можете повернути товар протягом 14 днів, якщо він не був у користуванні та
            збережений у первинному вигляді.
          </p>
        </div>
      </li>
      <li class="faq__item ac">
        <h3 class="faq-wraper ac-header">
          <button type="button" class="faq__btn ac-trigger">
            <span class="faq__btn-text">Чи надаєте ви послугу збирання меблів?</span
            ><svg class="faq__icon">
              <use href="./img/icons/sprite.svg#faq__icon"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__answer ac-panel">
          <p class="answer-text">
            Так, під час оформлення замовлення можна обрати послугу збирання. Наші майстри зберуть
            меблі у зручний для вас час.
          </p>
        </div>
      </li>
      <li class="faq__item ac">
        <h3 class="faq-wraper ac-header">
          <button type="button" class="faq__btn ac-trigger">
            <span class="faq__btn-text">Як здійснити оплату?</span
            ><svg class="faq__icon">
              <use href="./img/icons/sprite.svg#faq__icon"></use>
            </svg>
          </button>
        </h3>
        <div class="faq__answer ac-panel">
          <p class="answer-text">
            Ми приймаємо оплату карткою онлайн, банківським переказом або післяплатою при отриманні.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
