<footer class="footer">
  <div class="footer-container">
    <a class="logo footer-logo" href="./index.html" aria-label="Логотип проєкту">
      <svg class="footer-logo-svg" width="228" height="97" aria-label="Логотип проєкту">
        <use class="footer-logo-svg" href="/src/img/icons/sprite.svg#icon-logo-footer"></use>
      </svg>
    </a>

    <nav class="footer-nav" aria-label="Навігація у футері">
      <ul class="footer-nav-list">
        <li><a class="footer-nav__link" href="#furniture">Наші меблі</a></li>
        <li><a class="footer-nav__link" href="#about">Про нас</a></li>
        <li><a class="footer-nav__link" href="#faq">Часті питання</a></li>
        <li><a class="footer-nav__link" href="#feedback">Відгуки</a></li>
      </ul>
    </nav>

    <ul class="socials">
      <li>
        <a
          class="socials-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/src/img/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="socials-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/src/img/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="socials-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/src/img/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer-copy">&copy; 2025 Relume. Всі права захищені.</p>
  </div>
</footer>
