<!-- <div class="backdrop modal-backdrop js-furniture-modal" hidden> -->
<!-- <div class="modal furniture-modal"> -->
<!-- <button
      class="modal__close"
      type="button"
      data-close-furniture-modal
      aria-label="Закрити модальне вікно"
    > -->
<!-- ✕ -->
<!-- </button> -->

<!-- <div class="furniture-modal__gallery">Gallery / slider</div> -->
<!-- <div class="furniture-modal__content">Furniture details</div> -->

<!-- <button class="button" type="button" data-open-order-modal>Перейти до замовлення</button> -->
<!-- </div> -->
<!-- </div> -->
