<section class="container container-furniture">
  <h2 class="title title-furniture">Наші меблі</h2>
  <p class="paragraph paragraph-furniture">Знайдіть ідеальні рішення для вашого інтер'єру</p>
  <ul class="list category-list-furniture">
    <li class="item item-category selected-category">
      <button type="button" class="category-btn" data-category-button></button>
    </li>
  </ul>
  <ul class="list products-list-furniture">
    <li class="item product-item">
      <img src="" alt="" class="product-img" />
      <div class="produc-info">
        <h3 class="product-title"></h3>
        <ul class="product-colors-list">
          <li class="product-color-item"></li>
        </ul>
        <p class="product-price"></p>
      </div>
      <button class="product-btn-readmore">Детальніше</button>
    </li>
  </ul>
  <span class="products-loader visually-hidden">Loading...</span>
  <button class="btn-loadmore-furniture">Показати ще</button>
</section>
