<section class="furniture section" id="furniture">
  <div class="container furniture__container">
    <div class="section-head">
      <h2 class="section-title"><!-- Furniture title --></h2>
      <p class="section-text"><!-- Furniture subtitle --></p>
    </div>

    <ul class="furniture-categories js-categories"></ul>

    <ul class="furniture-list js-furniture-list"></ul>

    <div class="furniture__actions">
      <button class="button js-load-more" type="button" hidden>Показати ще</button>
      <div class="pagination js-pagination" hidden></div>
    </div>
  </div>
</section>
