<header class="header">
  <div class="header__container">
    <a class="logo" href="./index.html" aria-label="Логотип Меблерія">
      <svg class="logo__icon" width="157" height="35">
        <use href="./img/icons/sprite.svg#icon-logo-footer"></use>
      </svg>
    </a>

    <nav class="header__nav" data-mobile-menu>
      <button
        class="menu-close-btn"
        type="button"
        data-close-mobile-menu
        aria-label="Закрити меню"
      >
        <svg width="32" height="32">
          <use href="./img/icons/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>

      <ul class="nav__list">
        <li><a class="nav__link" href="#furniture-list" data-link-mobile-menu>Наші меблі</a></li>
        <li><a class="nav__link" href="#about" data-link-mobile-menu>Про нас</a></li>
        <li class="nav__item faq">
          <a class="nav__link" href="#faq" data-link-mobile-menu>Часті питання</a>
        </li>
        <li><a class="nav__link" href="#feedback" data-link-mobile-menu>Відгуки</a></li>
        <li><a class="btn-to-cart" href="#furniture-list" data-link-mobile-menu>До покупок</a></li>
      </ul>
    </nav>

    <button class="burger" type="button" data-open-mobile-menu aria-label="Відкрити меню">
      <svg width="44" height="32">
        <use href="./img/icons/sprite.svg#icon-burger-btn"></use>
      </svg>
    </button>
  </div>
</header>
