<link rel="stylesheet" href="../css/modal.css" />
<div class="order-modal">
  <div class="order-modal-window">
    <button class="order-modal-button-close" type="button">
      <svg class="order-modal-svg-close" width="16" height="16">
        <use href="../img/icons/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h2 class="order-modal-h2">Замовити</h2>
    <form class="order-form">
      <div class="order-modal-form">
        <label for="user-name" class="order-modal-form-label">Ім'я*</label>
        <div class="order-modal-input-div">
          <input type="text" id="name" name="name" class="order-modal-form-input" required />
        </div>
      </div>
      <div class="order-modal-form">
        <label for="user-phone" class="order-modal-form-label">Телефон*</label>
        <div class="order-modal-input-div">
          <input
            type="tel"
            id="phone"
            name="phone"
            class="order-modal-form-input"
            pattern="[0-9]{12}"
            required
          />
        </div>
      </div>

      <div class="order-modal-comment">
        <label for="user-comment" class="order-modal-form-label">Коментар</label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Введіть ваш коментар"
          class="order-modal-textarea"
        ></textarea>
      </div>

      <button class="order-modal-form-button">Надіслати заявку</button>
    </form>
  </div>
</div>

<script type="module" src="../js/modals/order-modal.js"></script>
