
.section-about {
    padding: 64px 0;
    background-color: #f0e6e6;
}

/* .container {
    background-color: #f0e6e6;
} */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.context-about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    color: #080c09;
    background-color: none;
}

.title-about {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;

}

.text-about {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #080c09;
}

.pict-about {
    display: block;
    width: 100%;
    border-radius: 4px;
    background-color: inherit;
    overflow: hidden;
    line-height: 0;
}


.img-about {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0;
    background-color: inherit;
    transform: scale(1.02);
    transform-origin: center;
}

/* tablet */
@media (min-width: 768px) {

    .section-about {
        padding: 32px 0;
    }

    .title-about {
        font-size: 32px;
    }

    .text-about {
        font-size: 16px;
        max-width: 100%;
        text-align: start;
    }

    .pict-about {
        max-width: 100%;
    }

    .img-about {
        max-width: 100%;
    }
}

/* desktop */
@media (min-width: 1024px) {
    .section-about {
        padding: 64px;
        align-items: center;
    }

    .about-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
        padding: 0;
        max-width: 1440px;
        margin: 0 auto;
    }

    .context-about {
        width: calc((100% - 24px) / 2);
        max-width: 644px;
        margin: auto 0;
        line-height: 0;
    }

    .title-about {
        font-size: 48px;
        padding: 0;
    }

    .text-about {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
    }

    .pict-about {
        width: calc((100% - 24px) / 2);
        max-width: 100%;
        line-height: inherit;
    }

    .img-about {
        display: block;
        object-fit: cover;
    }

}
